div {
height: 1000px ;
width: 950px ;
border-color: blue ;
background-color: silver ;
border-style: solid ;
border-width: 2px ;
border-radius: 5px ;
text-decoration: none ;
font-family: Cursive ;
margin: auto;
text-align: center;
}
h3 {
text-align: right;	
}
#div.createBolders {
font-weight: bold ;

}
body {
background-image: url("background.jpeg") ;
}
